$background: #F4F3F3;
$footer:#9B9B9B;
$defaultPadding: 10%;
$icon: #858585;
$drama-title:#4c4c4c;
$button-border: #979797;

$info-type: #6A6A6A;
$info-title: #464646;
$info-description: #818080;

.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.shadow-2 {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.shadow-3 {
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.shadow-4 {
  box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.shadow-5 {
  box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

h1 {
  margin: 0px;
  padding: 0px;
}